*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    min-width: 320px;
    max-width: 1100px; /* Ограничение максимальной ширины */
    margin: 0 auto; /* Центрирование по горизонтали */
    font-family: Raleway, sans-serif;
    font-weight: 400;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
}

button {
    font: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

address {
    font-style: normal;
}
