/* место для вашего кода */
/* Шапка */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 0; /* Убрали горизонтальные padding */
    font-size: 18px;
    max-width: 1000px;
    margin: 0 auto;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 32px;

}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
    text-decoration: none;
    list-style: none;
}

.header__link {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.header__link_active {
    text-decoration: none;
    list-style: none;
}

.header__logo {
    justify-self: center;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__address {
    justify-self: end;
    max-width: 240px;
    line-height: 1.35;
    font-size: 18px;
}

.header__address a {
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* Обложка */
.cover {
    position: relative;
    padding: 165px 0 50px; /* Убрали горизонтальные padding */
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    max-width: 1100px;
    margin: 0 auto;
}

.cover__content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 50px; /* Добавили контейнер для контента */
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.cover__title {
    position: relative;
    z-index: 1;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 30px;
    text-transform: uppercase;
    margin-bottom: 135px;
    padding: 0 50px; /* Отступы для текста внутри контейнера */
}

.aligned-text {
    display: block;
    margin-bottom: 20px;
}

.aligned-text_center {
    text-align: center;
    margin-left: 60px;
    margin-bottom: 20px;
}

.aligned-text_right {
    text-align: right;
    margin-left: 60px;
}

.cover__description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 78px;
    padding: 0 50px; /* Отступы для текста внутри контейнера */
}

.cover__description-text {
    font-size: 22px;
    line-height: 1.27;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    padding: 12px 32px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
}

/* Лоты */
.lots {
    padding: 180px 0; /* Убрали горизонтальные padding */
    max-width: 1050px;
    margin: 0 auto;
}

.lots__content {
    padding: 0 50px; /* Контейнер для контента */
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-left: 40px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    margin-bottom: 30px;
}

.lots__card-list-item {
    flex: 1;
    max-width: 334px;
    min-height: 596px;
}

.card-link {
    display: block;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: #fff;
    background-size: cover;
    background-position: center;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card__title {
    position: relative;
    z-index: 1;
    font-size: 22px;
    font-weight: 450;
    line-height: 1.2;
    padding: 40px;
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;
}

.card__text {
    position: relative;
    z-index: 1;
    padding: 40px;
    font-size: 20px;
}

.lots__look-more-link {
    display: inline-block;
    margin-left: 40px;
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* Об аукционе */
.about {
    max-width: 1050px;
    display: grid;
    grid-template-columns: 330px 1fr;
    gap: 25px;
    padding: 0 0 180px; /* Убрали горизонтальные padding */
    margin: 0 auto;
    text-align: left;
}

.about__content {
    padding: 0 50px; /* Контейнер для контента */
    display: contents; /* Чтобы grid работал правильно */
}

.about__column:first-child {
    display: flex;
    justify-content: center;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 100px;
    margin-top: 100px;
}

.about__text {
    font-size: 20px;
    line-height: 1.2;
}

.about__text p:first-child {
    margin-bottom: 25px;
}

/* Подвал */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    padding: 0 45px 90px; /* Убрали горизонтальные padding */
    font-size: 18px;
    max-width: 1100px;
    margin: 0 auto;
}

.footer__content {
    padding: 0 50px; /* Контейнер для контента */
    display: contents; /* Чтобы grid работал правильно */
}

.footer .address {
    max-width: 240px;
    line-height: 1.35;
}

.footer .address a {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
    line-height: 1.35;
}

.footer__menu-list-item {
    margin-bottom: 5px;
}

.footer__menu-link {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    justify-self: end;
    list-style: none;
}

.footer__social-list-item {
    width: 48px;
    height: 48px;
}

.footer__social-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
